$white: #fff;
$off_white: #f9fcfe;
$off_white_2: #e7ebf1;

$off_black: #1e293b;

// White background cards
$black_90: #191919;
$black_80: #282828;
$black_75: #333;
$black_70: #4a4a4a;
$black_65: #6a6a6a;
$grey_mid: #838383;
$grey_25: #c6c6c6;

$red: #e53e3e;
$blue: #0066cc;
$sky_blue: #419bf6;
$dark_blue: #1e293b;
$yellow: #ffd700;
$cyan: #02bebe;
$indigo: #667eea;
$purple: #764ba2;
$paynes_grey: #64748b;

$translucent_black_10: #fff1;
$translucent_black_20: #fff2;