$white: #fff;
$off_white: #f6f6f6;
$off_white_2: #e9e9e9;

$off_black: #1e293b;
$black: #000;

$angular-logo-colour: #e628a1;

// White background cards
$black_90: #191919;
$black_80: #282828;
$black_75: #333;
$black_70: #4a4a4a;
$black_65: #6a6a6a;
$grey_mid: #838383;
$grey-10: #afafaf;
$grey_25: #c6c6c6;
$grey_20: #cdcdcd;

$washed_out_blue: #c7cdd6;

$neon-cyan-code: #13e28c;
$neon-cyan: #00ffe3;
$neon-cyan-dark: #00b9a4;
$neon-cyan-darker: #88fff1;
$neon-white: #93fff2;
$neon-white-light: #b9fff7;
$cyan-bg: #030b0a;
$red: #e53e3e;
$blue: #0066cc;
$navy: #0328b1;
$sky_blue: #419bf6;
$dark_blue: #1e293b;
$very_dark_blue: #0f172a;
$deep_cobalt_blue: #094595;
$yellow: #ffd700;
$yellow-dark: #b99e07;
$cyan: #02bebe;
$indigo: #667eea;
$purple: #764ba2;
$angular-brand-colour-primary: #dc087d;
$angular-brand-purple-colour-primary: #9717e7;
$angular-brand-purple-colour-secondary: #6c00f5;
$angular-brand-purple-light-colour-primary: #b048f1;
$brick_red: #7b4040;
$paynes_grey: #64748b;
$pale_blue: #94a3b8;

$side-menu-h4: #93c4f8;
$side-menu-a: #3b92ef;

$translucent_black_05: #0000000d;
$translucent_black_10: #0000001a;
$translucent_black_20: #0002;
$translucent_black_30: #0000004d;
$translucent_black_50: #00000080;