$white: #fff;
$off_white: #f1f5f9;
$red: #e53e3e;
$blue: #0066cc;
$cyan: #02bebe;
$indigo: #667eea;
$purple: #764ba2;

$pre_white_text: #e2e8f0;
$off_black: #1e293b;

$p_colour: #6a6a6a;

// White background cards
$h1_colour: #282828;
$h2_colour: #383838;
$h3_colour: #333;
$h4_colour: #838383;