$white: #fff;
$off_white: #f9fcfe;
$very_dark_blue: #e7ebf1;

$off_black: #1e293b;
$black: #000;

// White background cards
$black_90: #191919;
$black_80: #282828;
$black_75: #333;
$black_70: #4a4a4a;
$black_65: #6a6a6a;
$grey_mid: #838383;
$grey_25: #c6c6c6;
$grey_20: #cdcdcd;

$washed_out_blue: #c7cdd6;

$red: #e53e3e;
$blue: #0066cc;
$sky_blue: #419bf6;
$dark_blue: #1e293b;
$very_dark_blue: #0f172a;
$deep_cobalt_blue: #094595;
$yellow: #ffd700;
$cyan: #02bebe;
$indigo: #667eea;
$purple: #764ba2;
$brick_red: #7b4040;
$paynes_grey: #64748b;
$pale_blue: #94a3b8;

$translucent_black_05: #0000000d;
$translucent_black_10: #0000001a;
$translucent_black_20: #0002;
$translucent_black_30: #0000004d;
$translucent_black_50: #00000080;